.regis-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Bree Serif';
}
.regis-heading{
    font-weight: bold;
    
}
.regis-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
}
.succView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px bashed blue;
    border-radius: 10px;
    font-family: 'Roboto';
    padding: 20px
}
.returntoLogin{
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}